@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,500;1,6..12,600&family=Poppins:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  width: 100%;
  padding: 0 16px;
  max-width: 1170px;
  margin: 0 auto;
}

.green {
  background-color: #00dca8;
}
body {
  color: #215273;
}
a {
  color: #215273;
  text-decoration: none;
}
a:hover {
  color: green;
}
span.text-bold {
  font-size: 24px;
  font-weight: 700;
}

h2.heading {
  font-family: Peachi;
  font-size: 52px;
  font-weight: 700;
}

p.descripation {
  font-family: 'Nunito Sans';
  font-size: 18px;
  color: #215273;
  line-height: 28px;
  font-weight: 400;
}
.hero-Heading {
  font-size: 92px;
  font-weight: 700;
}

.header .top-header {
  background-color: #b1d4f7;
}
.header .bottom-header {
  background: #e6f2fe;
}
.header .main-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 44px;
  cursor: pointer;
}
.header .main-nav .mainNav {
  display: flex;
  gap: 24px;
  align-items: center;
  font-size: 14px;
  color: #215273;
}
li.mainNavItem {
  list-style: none;
}
.mainNavIcon {
  display: flex;
  gap: 4px;
  margin-left: 7rem;
}
.mainNavIcon .fa2 {
  font-size: 8px;
  color: white;
  background: green;
  width: 16px;
  height: 16px;
  padding: 5px;
  text-align: center;
  border-radius: 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  align-items: center;
  height: 70px;
}
ul.navList {
  display: flex;
  gap: 24px;
  list-style: none;
}
.logo {
  width: 175px;
  height: 28px;
  cursor: pointer;
}

.burger-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #2285e7;
  margin: 5px 0;
}
select#country {
  width: 77px;
  padding: 4px 8px 4px 8px;
  border: none;
  cursor: pointer;
}
.Contry label {
  font-size: 18px;
  font-weight: 400;
  color: #215273;
  cursor: pointer;
}
.Contry {
  color: #215273;
  /* margin-left: 7rem; */
}

.burger {
  width: 24px;
  height: 24px;
  display: none;
}

/* hero Sectiom */
section.hero {
  background: #e6f2fe;
  cursor: pointer;
}
.hero-content {
  display: flex;
  align-items: center;
  gap: 9px;
  background: #e6f2fe;
  position: relative;
  background-image: url("Images/Brush.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  max-width: 1007px;
  background-size: contain;
  padding: 3rem 0;
}
.hero-leftDiv {
  max-width: 688px;
  width: 100%;
  margin: 34px 0;
  cursor: pointer;
}
button {
  background: #00dca8;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.site-title {
  padding: 30px 0 50px 0;
}
button:hover {
  background: #82c2b2;
  transform: translateY(4px);
}
.hero-detail p {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0;
}
.left-paragraph {
  padding: 12px 0;
  font-size: 18px;
  font-weight: 400;
}
.hero-detail p span {
  color: #2285e7;
}
.hero-RightDiv {
  position: absolute;
  top: -84px;
  bottom: 0;
  left: 50%;
}
.hero-RightDiv .right-content {
  width: 250px;
  height: 602px;
}

.hero-RightDiv .right-content img {
  width: 100%;
  height: 100%;
}



/* Detail Section */
section.deatail {
  background: #b1d4f7;
}

.detail-content {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  align-items: center;
  padding: 3rem 0;
  cursor: pointer;
}
.dettailBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dettailBox .dtl-btn {
  background: #2285e7;
  text-align: center;
  color: white;
  border-radius: 6%;
  padding: 12px 20px 12px 20px;
}
button.dtl-btn:hover {
  background: #53a4f6;
}
.detailIcon {
  background: white;
  border-radius: 50%;
  width: 26px;
  text-align: center;
  padding-top: 3px;
}
.detailIcon:hover {
  background: green;
}
i.fa-solid.fa-check.newIcon:hover {
  color: white;
}
.detail-content p {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #215273;
  margin: 0;
}

/* Product section */
section.product {
    position: relative;
    padding: 20px 0px 50px 0px;
}
.product-card.full-card {
    position: relative;  
}
.productheading {
  display: flex;
  height: 100%;
}
.product-text-detail {
  width: 100%;
  min-width: 420px;
  padding: 8rem 0rem 0 3rem;
}
.productcardImage {
  width: 100%;
  display: flex;
}
img.productcardimg {
  width: 100%;
  object-fit: cover;
  min-width: fit-content;
  position: absolute;
  right: 0;
  bottom: 0;
}
.Productlogo {
  position: absolute;
  left: 40px;
  bottom: 40px;
}
.product-card {
  
  background: #e6f2fe;
}



h3.heading {
  font-size: 34px;
  font-weight: 700;
}



.product-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}



/* .productRight {
  display: grid;
  gap: 16px;
  width: 100%;
  max-width: 624px;
  height: 504px;
} */
.policyImg {
  background: white;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.productBox {
  display: flex;
  align-items: center;
  background: #e6f2fe;
}
.productDetail {
  padding: 12px;
}
.productBoxImg {
  max-width: 187px;
  max-height: 236px;
  width: 100%;
  height: 100vh;
}
.productBoxImg img {
  width: 100%;
  height: 100%;
}
button.btnView {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 134px;
  height: 60px;
  background: #ffffff;
  border: 1px solid;
  margin-top: 24px;
}

/* Services Section */

.ServiceMain {
  background: #e6f2fe;
  padding: 30px 0 40px 0;
}
.services {
  display: flex;
  gap: 35px;
  align-items: center;
}
.services-content {
  padding: 30px 0 40px 0;
  width: 100%;
  cursor: pointer;
  margin-left: 32px;
  position: relative;
}
.servicesImg img {
  width: 100%;
}
.servicesItems {
  max-width: 200px;
  max-height: 200px;
  border-radius: 70%;
  position: absolute;
  padding: 60px 7px;
  text-decoration: underline;
  top: 50px;
  right: 72%;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.servicesItems2 {
  width: 100%;
  max-width: 140px;
  border-radius: 70%;
  position: absolute;
  top: 442px;
  left: 50px;
  padding: 36px 30px;
  text-decoration: underline;
}

.servicesItems3 {
  width: 100%;
  max-width: 160px;
  position: absolute;
  top: 36%;
  left: 75%;
  border-radius: 75%;
  padding: 45px 26px;
  text-decoration: underline;
}
span.servicesitemsText {
  font-size: 24px;
  font-weight: 700;
}
.servicesImg {
  max-width: 586px;
}
/* MainProduct Section */
.mainProduct {
  position: relative;
}
.mainProduct-content {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.mainProductBox {
  max-width: 240px;
  width: 100%;
}
.mainProductBox img {
  width: 100%;
}
.mainProduct h2 {
  text-align: center;
  padding: 20px 0;
}
.mainproduct-btn {
  margin: 44px 0;
  text-align: center;
}
.mainProduct .mainProductTitile {
  position: absolute;
  top: 83%;
  left: 70px;
  color: #fff;
}
span.mainProductTitile2 {
  position: absolute;
  top: 83%;
  left: 280px;
  color: #fff;
}
span.mainproductText{
  position: absolute;
  top: 78%;
  left: 7%;
  color: white;
}
span.mainproductText2{
  position: absolute;
  top: 78%;
  left: 25%;
  color: white;
}
span.mainproductText3{
  position: absolute;
  top: 78%;
  left: 47%;
  color: white;
}
span.mainproductText4{
  position: absolute;
  top: 78%;
  left: 65%;
  color: white;
}
span.mainproductText5{
  position: absolute;
  top: 78%;
  left: 95%;
  color: white;
}
span.mainproductText5 {
  position: absolute;
  top: 78%;
  left: 85%;
  color: white;
}

span.mainProductTitile3 {
  position: absolute;
  top: 83%;
  left: 505px;
  color: #fff;
}
span.mainProductTitile4 {
  position: absolute;
  top: 83%;
  left: 713px;
  color: #fff;
}
span.mainProductTitile5 {
  position: absolute;
  top: 83%;
  left: 924px;
  color: #fff;
}
/* Latest Section */

section.Latest {
  padding: 40px 0px 50px 0px;
}
.LatestPosts {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin: 32px 0px;
}
.latest-title {
  text-align: center;
}
.card1 .card-content {
  padding: 15px;
  background-color: #E6F2FE;
  
}



/* Policy Section */
section.policy {
  background: #e6f2fe;
  padding: 20px 0 50px 0;
}
.policy-content {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 30px 0;
}
.policyImg {
  background: white;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}
.policyImg img {
  width: 100%;
}
.policybtn {
  text-align: center;
  padding-bottom: 30px;
}
.policyBox {
  width: 405px;
  height: 284px;
  text-align: center;
  line-height: 45px;
}
.polictHeading {
  text-align: center;
  padding: 20px 0;
}
.polictHeading h2 {
  text-align: center;
}

/* featured Section */
section.featured {
  position: relative;
  margin: 30px 0;
}
.featuredheading {
  text-align: center;
}
.featured-content {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}
.owl-theme .owl-nav {
  margin-top: 10px;
  display: none;
}
.featuredBox {
  display: flex;
  margin-bottom: 35px;
  max-width: 624px;
  width: 100%;
}
.featuredBox:last-child {
  margin-bottom: 0;
}

.featuredDetail {
  background: #e6f2fe;
  width: 100%;
  padding: 15px;
}
.featuredImg {
  width: 187px;
  height: 200px;
}
.featuredImg img {
  width: 100%;
  height: 100%;
}

img.featuredDetailLogo {
  max-width: 175px;
  width: 100%;
  max-height: 43px;
  height: 100%;
}

.featuredDetailright {
  max-width: 624px;
  width: 100%;
  max-height: 430px;
  height: 100%;
  background-color: #e6f2fe;
  background-image: url("Images/rec1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.featuredTeeth {
  position: absolute;
  top: 49%;
  left: 77%;
}
img.featuredDetailLogo {
  max-width: 175px;
  width: 100%;
  max-height: 43px;
  height: 100%;
  position: absolute;
  top: 67%;
  left: 60%;
}
.featuredPar {
  padding: 22px 40px;
}
.featuredPar span {
  font-size: 32px;
  font-weight: 700;
}
/* Corsoul 2 */
section.carousel2 {
  padding: 20px 0 50px 0;
}
.owl-dots {
  padding-top: 20px;
}
.card-detailIcon {
  width: 50px;
  height: 50px;
  margin-top: -43px;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
.card .card-detail {
  box-shadow: 5px 5px 10px 0px #2285E71A;
}

img.peopleDetailIcon {
  width: 50px;
  height: 50px;
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card .card-content {
  position: relative;
  padding: 15px;
  background-color: #fff;
  margin-top: -41px;
  z-index: 1;
  margin-left: 75px;
}
.card-detail h6 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin: 9px 0;
}

.card-content p {
  font-size: 16px;
  margin: 16px 0;
  font-weight:400;
}
.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #215273;
  font-weight: 700;
}
/* owl css  */
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}

/* Review Section */
section.review {
  background: #e6f2fe;
  padding: 50px 0 50px 0;
}
.reviewImage {
  width: 100%;
  max-width: 656px;
  position: relative;
}
.reviewImage img {
  width: 100%;
}
.review-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.reviewDetail {
  text-align: start;
  line-height: 55px;
}
.reviewDetail h2 {
  font-size: 52px;
  text-align: start;
  margin-bottom: 20px;
}
.reviewDetail p {
  margin-bottom: 20px;
}
.reviewComm {
  display: flex;
  gap: 35px;
  justify-content: space-around;
}

.review-box2 {
  text-align: center;
  padding: 30px 0;
  line-height: 45px;
}

.reviewComm {
  display: flex;
  gap: 35px;
  justify-content: space-around;
  margin-bottom: 30px;
}
.revieWatch b {
  font-size: 64px;
  color: #00dca8;
}
.revieWatch p {
  font-size: 24px;
}
.review-content {
  padding: 30px 0;
}

/* Treatment Section */
section.treatment {
  object-fit: contain;
  background-image: url(Images/Mask\ group.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.treatmentBox {
  background: #e6f2fe;
  text-align: center;
  flex-basis: 32%;
  cursor: pointer;
  padding: 20px 0;
  color: #215273;
}
.treatmentBox:hover {
  background: #2285e7;
  color: #fff;
}

.treatmentTitle {
  padding: 76px 0;
}
.treatmentTitle h2 {
  text-align: start;
}
.treatment-boxs {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 834px;
  margin: 24px 0;
}

/* Contact Section */

section.contect {
  background: #215273;
  padding: 50px 0 50px 0;
}
.contect-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
}
.contact-data {
  color: white;
}
.conentDetail {
  margin: 24px 0;
}
.conentLogo {
  max-width: 175px;
  width: 100%;
}

.custom-input-field {
  position: relative;
  max-width: 260px;
  width: 100%;
}
.conentDetail span {
  font-size: 32px;
  font-weight: 700;
}

.custom-input-field input {
  background: transparent;
  border: 1px solid #e6f2fe;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
}

.custom-input-field input::placeholder {
  color: #b1d4f7;
}

.btnsign {
  background: #00dca8;
  padding: 8px;
  border-radius: 4px;
  color: #215273;
  position: absolute;
  right: -57px;
  top: 0px;
  border: oldlace;
}

.custom-input-field {
  position: relative;
  width: 280px;
}
footer.footer {
  background-color: #e6f2fe;
  padding: 30px 40px;
  text-align: center;
}



