* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.green{background-color: #00DCA8;}
body{
  color: #215273;
}
a {
  color: #215273;
  text-decoration: none;
}
span {
  font-size: 24px;
  line-height: 32px;
}
h6 {
  font-size: 14px;
  color: #215273;
}
h3 {
  font-size: 32px;
  color: #215273;
}
h2 {
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  color: #215273;
}
.main-nav {
  display: flex;
  background-color: #B1D4F7;
  align-items: center;
  justify-content: end;
  padding-right: 59px;
  height: 44px;
  gap: 22px;
}
.main-nav .mainNav {
  display: flex;
  gap: 14px;
  align-items: center;
  font-size: 14px;
  color: #215273;
}
li.mainNavItem {
  list-style: none;
}
.mainNavIcon {
  display: flex;
  gap: 4px;
}
.mainNavIcon .fa2 {
  font-size: 8px;
  color: white;
  background: green;
  width: 16px;
  height: 16px;
  padding: 5px;
  text-align: center;
  border-radius: 24px;
}
nav {
  display: flex;
  justify-content: space-around;
  background: #E6F2FE;
  gap: 28px;
  align-items: center;
  height: 70px;
}
ul.navList {
  display: flex;
  gap: 34px;
  list-style: none;
}
.logo {
  width: 175px;
  height: 28px;
}

.burger-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #2285E7;
  margin: 5px 0;
}
select#country {
  width: 65px;
  height: 20px;
  border: none;
}
.Contry {
  color: #215273;
}

/* .searchbar {
    width: 16px;
    height: 16px;
    margin-left: auto;
} */
.burger{
    width: 24px;
    height: 24px;
    display: none;
}

section {
  padding: 0 32px;
}
.container{
  max-width: 1920px;
    width: 100%;
}
/* hero Sectiom */
section.hero {
  background: #E6F2FE;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #E6F2FE;
  position: relative;
}
.hero-leftDiv {
  max-width: 688px;
  width: 100%;
  margin: 34px 0;
}
.hero-leftDiv {
  max-width: 688px;
  width: 100%;
  margin: 34px 0;
} button {
  background: #00DCA8;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 6px;
}
.hero-detail p {
  font-size: 20px;
  font-weight: 600;
}
.hero-detail p span {
  color: #2285E7;
}
.hero-RightDiv {
  position: absolute;
  top: -84px;
  bottom: 0;
  left: 50%;
}
.hero-RightDiv .right-content {
  width: 250px;
  height: 602px;
}

.hero-RightDiv .right-content img {
  width: 100%;
    height: 100%;
 }
 
h1 {
  font-size: 90px;
}
p{
  font-size: 18px;
    white-space-collapse: preserve-breaks;
    color: #215273;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}
/* Detail Section */
section.deatail {
  background: #B1D4F7;
}

.detail-content {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  align-items: center;
  height: 100px;
}
.dettailBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dettailBox .dtl-btn {
  width: 144px;
  height: 44px;
  background: #2285E7;
  color: white;
  border-radius: 4%;
}
.detailIcon {
  background: white;
  border-radius: 50%;
  width: 26px;
  height: 24px;
  text-align: center;
  padding-top: 4px;
}
.detail-content p {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #215273;
  margin: 0;
}

/* Product section */
section.product {
  position: relative;
}
.productLeft {
  width: 624px;
  height: 504px;
  background: #E6F2FE;
}
.product-content {
  display: flex;
  gap: 16px;
}

.productheading {
  position: absolute;
  top: 200px;
  bottom: 0;
  width: 300px;
  left: 50px;
}
.productLeftImg {
  position: absolute;
  top: 14%;
  left: 16%;
  width: 278px;
  height: 552px;
  overflow: hidden;
} 
img.customproductBoxImg {
  width: 100%;
  height: 100%;
}

.productRight{
  display: grid;
  gap: 16px;
  width: 624px;
  height: 504px;
}
.policyImg {
  background: white;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}


.productBox {
  display: flex;
  align-items: center;
  background: #E6F2FE;
}
.productDetail {
  padding: 12px;
}
.productBoxImg {
  width: 187px;
  height: 236px;
}
.productBoxImg img {
  width: 100%;
  height: 100%;
}
button.btnView {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 134px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid;
  margin-top: 24px;
}
.productTitle {
  display: block;
  text-align: center;
  padding: 30px 15px;
}
/* Services Section */
section.services {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  background: #E6F2FE;
  padding: 32px;
  position: relative;
  margin: 0 auto;
  width: 1;
}
.servicesTitle {
  width: 372px;
  height: 229px;
}
.servicesImg {
  width: 586px;
  height: 586px;
  margin-left: 18px;
}
img {
  width: 100%;
  height: 100%;
}
.servicesItems {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  padding: 68px 23px;
  text-align: start;
  position: absolute;
  text-decoration: underline;
  top: 18px;
  left: 35px;
  bottom: 0;
}
.servicesItems2 {
  width: 140px;
  height: 140px;
  border-radius: 70%;
  position: absolute;
  top: 442px;
  left: 50px;
  padding: 6px 6px;
}
.servicesItems2 {
  width: 140px;
  height: 140px;
  border-radius: 70%;
  position: absolute;
  top: 442px;
  left: 50px;
  padding: 36px 30px;
  text-decoration: underline;
}
.servicesItems3 {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 36%;
  left: 47%;
  border-radius: 75%;
  padding: 40px 26px;
  text-decoration: underline;
}

/* MainProduct Section */
.mainProduct{
  position: relative;
}
.mainProduct-content {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.mainProductBox {
  width: 240px;
  height: 560px;
}
.mainProduct h2 {
  text-align: center;
  padding: 20px 0;
}
.mainproduct-btn{
  margin: 44px 0;
    text-align: center;
}
.mainProduct .mainProductTitile{
  position: absolute;
    top: 83%;
    left: 70px ;
    color: #fff;
}
span.mainProductTitile2 {
  position: absolute;
  top: 83%;
  left: 280px;
  color: #fff;
}
span.mainProductTitile3 {
  position: absolute;
  top: 83%;
  left: 505px;
  color: #fff;
}
span.mainProductTitile4 {
  position: absolute;
  top: 83%;
  left: 713px;
  color: #fff;
}
span.mainProductTitile5 {
  position: absolute;
  top: 83%;
  left: 924px;
  color: #fff;
}




.swiper{
  /* width: 200px; */
  /* height: 306px; */
}
section.swiper2 {
  width: 300px;
}
.swiper .swiper-slide  {
 /* // width: 100%; */
  /* height: 100%; */
}
/* .swiper .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  
} */
section.swiper2 {
  width: 200px;
}
.wrapper-custom {
  display: flex;
  gap: 15px;
} 

/* Policy Section */
section.policy {
  background: #E6F2FE;
}
.policy-content {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.policyImg {
  background: white;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}
.policyImg img{
  width: 100%;
}
.policybtn {
  text-align: center;
  padding-bottom: 30px;
}
.policyBox {
  width: 405px;
  height: 284px;
  text-align: center;
  line-height: 45px;
}
.polictHeading {
  text-align: center;
  padding: 20px 0;
}
.polictHeading h2 {
  text-align: center;
}



/* featured Section */
section.featured {
  position: relative;
}
.featured-content {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.featuredImg {
  /* width: 200px; */
}
.featuredBox {
  display: flex;
  margin-bottom: 30px;
  max-width: 624px;
  width: 100%;
}
.featuredDetail {
  background: #E6F2FE;
  width: 100%;
  padding: 15px;
}
.featuredImg {
  width: 187px;
  height: 200px;
}
img {
  width: 100%;
  height: 100%;
}
img.featuredDetailLogo {
  max-width: 175px;
  width: 100%;
  max-height: 43px;
  height: 100%;
}

.featuredDetailright {
  max-width: 624px;
  width: 100%;
  max-height: 430px;
  height: 100%;
  background: #E6F2FE;
}
.featuredTeeth {
  position: absolute;
  top: 49%;
  left: 77%;
}
img.featuredDetailLogo {
  max-width: 175px;
  width: 100%;
  max-height: 43px;
  height: 100%;
  position: absolute;
  top: 67%;
  left: 60%;
}
.featuredPar {
  padding: 22px 40px;
}
.featuredPar span {
 font-size: 32px;
 font-weight: 700;
}