* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-nav .mainNav {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background: #B1D4F7;
  padding: 3px 32px;
  height: 44px;
  align-items: center;
}
li.mainNavItem {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.logo {
  width: 175px;
  height: 28px;
}
.searchbar {
    width: 16px;
    height: 16px;
    margin-left: auto;
}
.burger{
    width: 24px;
    height: 24px;
    display: none;
}
.detail-content{
  display: flex;

}
